.checked {
    color: orange;
}
.button_style1 {
    color: white;
    font-size: 20px;
    background-color: #7cced4;
}
.bar { fill: steelblue; }
.button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #000;
    color: white;
    font-size: 20px;
    background-color: #7cced4;
}
.review-submit{
    height: 600px;
    width: 450px;
    overflow-x: scroll;
    width: 400px;
    margin-top: 10px;
    float: right;
}
.logout{
    float: right;
    margin-right: 50px;
    margin-bottom: 5px;
}
.panel-body{
    width: 650px;
    float: left;
    overflow: hidden;
}

.time_dropdown{
    width:290px;
overflow:scroll;
height: 20px;
}