.checked {
    color: orange;
}
.button_style1 {
    color: white;
    font-size: 20px;
    background-color: #7cced4;
}
.bar { fill: steelblue; }
.button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #000;
    color: white;
    font-size: 20px;
    background-color: #7cced4;
}