<!--create-review.html-->

<!--Embed the header.html template at this location-->


<font color=#50EBEC><h1>Create Review</h1></font>


<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
    <p class="bg-danger">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </p>
    {{end}}
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" class=".create-review"></div> 
    <!--Create a form that POSTs to the `/review/create` route-->
    <div class="review-submit">
    <form id="create-review-form" style="color:chocolate" action="/review/create" method="POST">
      <div style="margin-left:5px">
        <span>You are reviewing:  </span> 
        <div id="reviewLocation" style="overflow-x:scroll"></div>
        Email address:
        <input name="email" type="text">
        <br><br>
        Time of the day:
        <select name="visitTime">
        <option value="12">12</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <br><br>
      Rating: 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div id="rateYo"></div>

      <br><br>
      Review:
      <textarea rows="4" cols="50" name="content"></textarea>
      <br><br>
        <button type="button" id="submit-review">Submit</button>
        <fieldset name="place">
          <input type="hidden" name="placeId" value="" id="placeId">
          <input type="hidden" name="lat" value="" id="lat">
          <input type="hidden" name="lng" value="" id="lng">
        </fieldset>
        
        <input type="hidden" value="0" name="rating" id="rating">
      </div>
      </form>
  </div>
  </div>
</div>  

    
<!--Embed the footer.html template at this location-->
