<!--create-review.html-->

<!--Embed the header.html template at this location-->


<h1>Create Review</h1>


<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    <!--If there's an error, display the error-->
    {{ if .ErrorTitle}}
    <p class="bg-danger">
      {{.ErrorTitle}}: {{.ErrorMessage}}
    </p>
    {{end}}
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" class=".create-review"></div> 
    <!--Create a form that POSTs to the `/review/create` route-->
    <form id="create-review-form" class="form" action="/review/create" method="POST">
        <div>You are reviewing </div>
        <div id="reviewLocation"></div>
        Email address:
        <input name="email" type="text">
        <br><br>
        Time of the day:
        <select name="time">
        <option value="12">12</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <br><br>
      Rating: 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div id="rateYo"></div>

      <br><br>
      Review:
      <input name="review" type="text" style="height:100px;width:150px">
      <br><br>
        <button type="button" id="submit-review">Submit</button>
        <input type="hidden" name="placeId" value="" id="placeId">
        <input type="hidden" value="0" name="rating" id="rating">
    </form>
  </div>
</div>  

    
<!--Embed the footer.html template at this location-->
