<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}


{{ template "menu.html" .}}

    <div>
    <h><b><font color=#50EBEC><font size="10">Safety check </font></font></b></h></br>
    </div>
    <div id="content">
    <div>
    <button type="button" class="button_style1" id="write_reviews">Write Reviews</button>
    <button type="button" class="button_style1" onclick="alert('Hello world!')">Signup</button>
    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div> 
    <div id="graph" class="graph"></div>
</div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}