<!--menu.html-->
<input type="hidden" id="fb-app-id" value= {{ .fb_appId}}></input>
<script defer src="assets/javascript/fb.js"></script>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
        <button id="home" type="button" class="button_style1" onclick="window.location.href='/'">Home</button>
      <button type="button" class="button_style1" id="write_reviews">Write Reviews</button>
    </div>
    <div class="nav navbar-nav login">
        {{ if not .is_logged_in }}
        <!--Display this link only when the user is not logged in-->
        <fb:login-button scope="public_profile,email" id="login" onlogin="checkLoginState();"></fb:login-button> 
      {{end}}
      {{ if .is_logged_in }}
      <!--Display this link only when the user is not logged in-->
      
    {{end}} 
    <div class="login-status" id="login_status"></div> 
    </div>
    <button type="button" class="button_style1 logout" style="display: none" id="logout">Log Out</button>
  </div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->

</nav>
